body{
    margin : 0;
    padding: 0;
}

.heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: aqua;
    text-align: center
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: brown;
}